-var pageTitle = 'Home'
-var siteName = 'EDboilerplate'
-var twitterAccount = '@edteamlat'
-var pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-var pageImage = ''